# https://alacritty.org/config-alacritty.html

[general]
import = [
{{- if eq .chezmoi.os "windows" -}}
  "~/AppData/Roaming/alacritty/themes/catppuccin/catppuccin-macchiato.toml",
{{- else -}}
  "~/.config/alacritty/themes/catppuccin/catppuccin-mocha.toml",
{{- end -}}
]
live_config_reload = true

[env]
# TERM = "xterm-256color"
TERM = "alacritty"
TERMINAL = "alacritty"

[terminal]
osc52 = "CopyPaste"
shell = {
  {{- if eq .chezmoi.os "windows" -}}
  program = "pwsh",
  args = ["-noLogo", "-WorkingDirectory C:/Users/kevinnitro/"]
  {{- else -}}
  program = "zsh"
  {{- end -}}
}

[window]
padding = { x = 2, y = 2 }
dynamic_padding = true
decorations = "Full"       # Full or None
opacity = 1.0
blur = true
startup_mode = "Maximized"

[scrolling]
multiplier = 1

[font]
normal = { family = "JetBrainsMono Nerd Font", style = "Regular" }
bold = { family = "JetBrainsMono Nerd Font", style = "Bold" }
italic = { family = "JetBrainsMono Nerd Font", style = "Italic" }
bold_italic = { family = "JetBrainsMono Nerd Font", style = "Bold Italic" }
size = 13

[colors]
transparent_background_colors = false
draw_bold_text_with_bright_colors = false

[cursor]
style = { shape = "Beam", blinking = "Off" }
vi_mode_style = { shape = "Block", blinking = "Off" }

[mouse]
bindings = [{ mouse = "Right", mods = "Control", action = "Paste" }]
hide_when_typing = true

[keyboard]
bindings = [
  { key = "N", mods = "Control|Shift", action = "CreateNewWindow" },
  { key = "Back", mods = "Control", chars = "\u001b[127;5u" },
]
