{{- $email := promptStringOnce . "email" "Email address" -}}

encryption = "gpg"
mode = "file" # file, symlink
progress = true

[data]
    email = {{ $email | quote }}

[git]
autoAdd = false # Add changes to the source state after any change
autoCommit = false
autoPush = false

[gpg]
recipient = "KevinNitroG"

[cd]
command = "cmd" # Change to pwsh later

[completion]
custom = true
