##########################################

# CONFIG

["AppData/Local/nvim"]
type = "git-repo"
url = "git@github.com:KevinNitroG/nvim.git"

{{ if ne .chezmoi.os "windows" }}
["AppData/Roaming/alacritty/themes/catppuccin"]
{{ else }}
[".config/alacritty/themes/catppuccin"]
{{ end }}
type = "git-repo"
url = "https://github.com/catppuccin/alacritty.git"

[".config/cursor/Windows-11-Cursor-by-rosea92"]
type = "git-repo"
url = "https://github.com/YT-Advanced/Windows-11-Cursor-by-rosea92.git"

[".config/wakatime/posh-wakatime"]
type = "git-repo"
url = "https://github.com/Gravifer/posh-wakatime.git"

[".config/komorebi/applications.json"]
type = "file"
url = "https://raw.githubusercontent.com/LGUG2Z/komorebi-application-specific-configuration/refs/heads/master/applications.json"

[".config/autohotkey/komorebic.lib.ahk"]
type = "file"
url = "https://raw.githubusercontent.com/LGUG2Z/komorebi/master/komorebic.lib.ahk"

[".config/yazi/theme.toml"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/yazi/refs/heads/main/themes/mocha/catppuccin-mocha-lavender.toml"

[".config/yazi/Catppuccin-mocha.tmTheme"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Mocha.tmTheme"

[".config/yazi/plugins/toggle-view.yazi"]
type = "git-repo"
url = "https://github.com/dawsers/toggle-view.yazi"

[".config/yazi/plugins/glow.yazi"]
type = "git-repo"
url = "https://github.com/Reledia/glow.yazi"

[".config/yazi/plugins/eza-preview.yazi"]
type = "git-repo"
url = "https://github.com/sharklasers996/eza-preview.yazi"

[".config/yazi/plugins/relative-motions.yazi"]
type = "git-repo"
url = "https://github.com/dedukun/relative-motions.yazi"

[".config/yazi/plugins/compress.yazi"]
type = "git-repo"
url = "https://github.com/KKV9/compress.yazi"

[".config/yazi/plugins"]
type = "archive"
url = "https://github.com/yazi-rs/plugins/archive/refs/heads/main.zip"
stripComponents = 1
include = ["*/git.yazi/**", "*/max-preview.yazi/**"]

["AppData/Roaming/bat/themes/Catppuccin Mocha.tmTheme"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Mocha.tmTheme"

["Document/PowerShell/Modules/Catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/powershell.git"

[".config/delta/themes/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/delta.git"

["AppData/Local/glow/Config/themes/catppuccin-mocha.json"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/glamour/main/themes/catppuccin-mocha.json"

[".config/qbittorrent/themes/catppuccin-mocha.qbtheme"]
type = "file"
url = "https://github.com/catppuccin/qbittorrent/raw/main/mocha.qbtheme"

[".config/atac/key_bindings.toml"]
type = "file"
url = "https://raw.githubusercontent.com/Julien-cpsn/ATAC/main/example_resources/key_bindings/vim_key_bindings.toml"

[".config/autohotkey/hidecursor.ahk"]
type = "file"
url = "https://raw.githubusercontent.com/steveseguin/hide-cursor/refs/heads/main/hidecursor.ahk"

##########################################

# GITS

["obsidian/main"]
type = "git-repo"
url = "https://github.com/KevinNitroG/obsidian-vault-main"

##########################################

# UTILS

[".githelpers"]
type = "file"
url = "https://raw.githubusercontent.com/stevearc/dotfiles/master/.githelpers"
