{{ if ne .chezmoi.os "windows" }}
AppData
Documents
docker
inshellisense
config/autohotkey
config/komorebi
config/microsoft-office
config/scoop
config/windows-tasks-scheduler
config/xinmeng
config/whkdrc
{{ end }}

