{{ $gitArgs := "clone.args = ['--depth', '1']\n    pull.args = ['--ff-only']" }}

##########################################

{{ if eq .chezmoi.os "windows" }}
["AppData/Local/nvim"]
{{ else }}
[".config/nvim"]
{{ end }}
type = "git-repo"
url = "git@github.com:KevinNitroG/nvim.git"
{{ $gitArgs }}

{{ if eq .chezmoi.os "windows" }}
["AppData/Roaming/alacritty/themes/catppuccin"]
{{ else }}
[".config/alacritty/themes/catppuccin"]
{{ end }}
type = "git-repo"
url = "https://github.com/catppuccin/alacritty.git"
{{ $gitArgs }}

{{ if eq .chezmoi.os "windows" }}
["AppData/Roaming/bat/themes/Catppuccin Mocha.tmTheme"]
{{ else }}
[".config/bat/themes/Catppuccin Mocha.tmTheme"]
{{ end }}
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Mocha.tmTheme"

[".config/delta/themes/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/delta.git"
{{ $gitArgs }}

{{ if eq .chezmoi.os "windows" }}
["AppData/Local/glow/Config/themes/catppuccin-mocha.json"]
{{ else }}
[".config/glow/themes/catppuccin-mocha.json"]
{{ end }}
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/glamour/main/themes/catppuccin-mocha.json"

[".config/atac/key_bindings.toml"]
type = "file"
url = "https://raw.githubusercontent.com/Julien-cpsn/ATAC/main/example_resources/key_bindings/vim_key_bindings.toml"

##########################################

["obsidian/main"]
type = "git-repo"
url = "git@github.com:KevinNitroG/obsidian-vault-main.git"
{{ $gitArgs }}

[".githelpers"]
type = "file"
url = "https://raw.githubusercontent.com/stevearc/dotfiles/master/.githelpers"

##########################################
