{{ if eq .chezmoi.os "windows" }}

{{ $gitArgs := "clone.args = ['--depth', '1']\n    pull.args = ['--ff-only']" }}

##########################################

[".config/cursor/Windows-11-Cursor-by-rosea92"]
type = "git-repo"
url = "https://github.com/YT-Advanced/Windows-11-Cursor-by-rosea92.git"
{{ $gitArgs }}

[".config/wakatime/posh-wakatime"]
type = "git-repo"
url = "https://github.com/Gravifer/posh-wakatime.git"
{{ $gitArgs }}

[".config/komorebi/applications.json"]
type = "file"
url = "https://raw.githubusercontent.com/LGUG2Z/komorebi-application-specific-configuration/refs/heads/master/applications.json"

[".config/autohotkey/komorebic.lib.ahk"]
type = "file"
url = "https://raw.githubusercontent.com/LGUG2Z/komorebi/master/komorebic.lib.ahk"

[".config/autohotkey/hidecursor.ahk"]
type = "file"
url = "https://raw.githubusercontent.com/steveseguin/hide-cursor/refs/heads/main/hidecursor.ahk"

["Document/PowerShell/Modules/Catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/powershell.git"
{{ $gitArgs }}

##########################################

{{ end }}
