{{ $gitArgs := "clone.args = ['--depth', '1']\n    pull.args = ['--ff-only']" }}

##########################################

[".config/yazi/theme.toml"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/yazi/refs/heads/main/themes/mocha/catppuccin-mocha-lavender.toml"

[".config/yazi/Catppuccin-mocha.tmTheme"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Mocha.tmTheme"

[".config/yazi/plugins/toggle-view.yazi"]
type = "git-repo"
url = "https://github.com/dawsers/toggle-view.yazi"
{{ $gitArgs }}

[".config/yazi/plugins/glow.yazi"]
type = "git-repo"
url = "https://github.com/Reledia/glow.yazi"
{{ $gitArgs }}

[".config/yazi/plugins/eza-preview.yazi"]
type = "git-repo"
url = "https://github.com/sharklasers996/eza-preview.yazi"
{{ $gitArgs }}

[".config/yazi/plugins/relative-motions.yazi"]
type = "git-repo"
url = "https://github.com/dedukun/relative-motions.yazi"
{{ $gitArgs }}

[".config/yazi/plugins/compress.yazi"]
type = "git-repo"
url = "https://github.com/KKV9/compress.yazi"
{{ $gitArgs }}

[".config/yazi/plugins/what-size.yazi"]
type = "git-repo"
url = "https://github.com/pirafrank/what-size.yazi"
{{ $gitArgs }}

[".config/yazi/plugins"]
type = "archive"
url = "https://github.com/yazi-rs/plugins/archive/refs/heads/main.zip"
stripComponents = 1
include = ["*/git.yazi/**", "*/max-preview.yazi/**"]
