# [[manager.prepend_keymap]]
# on   = [ "p" ]
# run  = "plugin --sync smart-paste"
# desc = "Paste into the hovered directory or CWD"

# max-preview
[[manager.prepend_keymap]]
on   = "T"
run  = "plugin max-preview"
desc = "Maximize or restore preview"

# relative-motions
[[manager.prepend_keymap]]
on = [ "1" ]
run = "plugin relative-motions --args=1"
desc = "Move in relative steps"

[[manager.prepend_keymap]]
on = [ "2" ]
run = "plugin relative-motions --args=2"
desc = "Move in relative steps"

[[manager.prepend_keymap]]
on = [ "3" ]
run = "plugin relative-motions --args=3"
desc = "Move in relative steps"

[[manager.prepend_keymap]]
on = [ "4" ]
run = "plugin relative-motions --args=4"
desc = "Move in relative steps"

[[manager.prepend_keymap]]
on = [ "5" ]
run = "plugin relative-motions --args=5"
desc = "Move in relative steps"

[[manager.prepend_keymap]]
on = [ "6" ]
run = "plugin relative-motions --args=6"
desc = "Move in relative steps"

[[manager.prepend_keymap]]
on = [ "7" ]
run = "plugin relative-motions --args=7"
desc = "Move in relative steps"

[[manager.prepend_keymap]]
on = [ "8" ]
run = "plugin relative-motions --args=8"
desc = "Move in relative steps"

[[manager.prepend_keymap]]
on = [ "9" ]
run = "plugin relative-motions --args=9"
desc = "Move in relative steps"

### eza-preview
[[manager.prepend_keymap]]
on   = "E"
run  = "plugin eza-preview"
desc = "Toggle tree/list dir preview" 

### toggle-view
[[manager.prepend_keymap]]
on   = "<A-1>"
run  = "plugin toggle-view --args=parent"
desc = "Toggle parent" 
[[manager.prepend_keymap]]
on   = "<A-2>"
run  = "plugin toggle-view --args=current"
desc = "Toggle current"
[[manager.prepend_keymap]]
on   = "<A-3>"
run  = "plugin toggle-view --args=preview"
desc = "Toggle preview" 

# Config for yazi

[[manager.prepend_keymap]]
on   = [ "g", "G" ]
run  = "cd ~/gits/"
desc = "go to gits directory"

[[manager.prepend_keymap]]
on   = [ "g", "n" ]
{{ if ne .chezmoi.os "windows" }}
run  = "cd %LOCALAPPDATA/nvim/"
{{ else }}
run  = "cd $HOME/.config/nvim/"
{{ end }}
desc = "go to to nvim config directory"

[[manager.prepend_keymap]]
on   = [ "g", "C" ]
run  = "cd ~/gits/code/"
desc = "go to to code directory"

[[manager.prepend_keymap]]
on   = [ "g", "v" ]
run  = "cd $HOME/Videos/"
desc = "go to to videos directory"

[[manager.prepend_keymap]]
on   = [ "g", "p" ]
run  = "cd $HOME/Pictures/"
desc = "go to to pictures directory"
