#!/usr/bin/env bash

accent_color='{{- .catppuccin.accentColor -}}'
light_flavor='{{- .catppuccin.lightFlavour -}}'
dark_flavor='{{- .catppuccin.darkFlavour -}}'

echo "UPDATING STLUS CATPPUCCIN"

~/.scripts/shell/stylus-catppuccin.sh $accent_color $light_flavor $dark_flavor
